.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(295px, max-content));
    row-gap: 20px;
    column-gap: 20px;
    justify-content: center;
    padding: 24px 17.3648649% 60px;
}

@media (max-width: 1000px) {
    .cards {
        padding: 24px 10.3648649% 60px; 
    }
}